

<div class="container" align="center">
      <div class="row" style="margin-top: 40px;" >
        <div class="col-xs-12">
            <div class="panel panel-info">
              <div class="panel-heading"><h3>Register a new account</h3></div>
              <div class="panel-body">

                <form name="registerForm" ng-submit="ctrl.registerUser(registerForm.$valid) " class="form-horizontal" novalidate >

                  <div class="row" >
                		<div class="col-xs-12">
                      <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">

                          <div ng-show="ctrl.error.show" class="alert alert-danger">
                            {{ctrl.error.content}}
                          </div>

    											<div class="form-group">
    												<input type="text" name="username" ng-model="ctrl.user" placeholder="Username" required/><br>
                            <label ng-show="registerForm.username.$touched && registerForm.username.$invalid" class="error" >
                              This field is required.
                            </label>
    			                </div>
    											<div class="form-group">
    												<input type="password" name="password" ng-model="ctrl.pass" placeholder="Password" required/><br>
                            <label ng-show="registerForm.password.$touched && registerForm.password.$invalid" class="error" >
                              This field is required.
                            </label>
    			                 </div>
                           <div class="form-group">
                             <input type="password" name="repeatPassword" ng-model="ctrl.repeatPass" placeholder="Password" required/><br>
                              <label ng-show="registerForm.repeatPassword.$touched && registerForm.repeatPassword.$invalid" class="error" >
                                This field is required.
                              </label>
                              <label ng-show="registerForm.repeatPassword.$touched && !(ctrl.pass==ctrl.repeatPass)" class="error" >
                                Passwords are not the same.
                              </label>
                            </div>


					                </div>
                      </div>
				            </div>
										<div>
										<input type="submit" name="signup" class="btn btn-success" value="Create account" ng-disabled="registerForm.$invalid || !(ctrl.pass==ctrl.repeatPass)">
									</div>
									<div style="margin-top: 20px">
										<a ui-sref="login" >Back</a>
								  </div>
                </form>

        </div>
      </div>

    </div>
  </div>
</div>
